/* src/components/HomePage.css */

.homepage {
    padding: 20px;
    background-image: url('https://biomedicalodyssey.blogs.hopkinsmedicine.org/files/2021/09/bookstore-backdrop.jpg'); /* Replace 'your-background-image-url.jpg' with the URL of your background image */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif; /* Choose your preferred font-family */
  }
  
  .hero {
    background: rgba(0, 0, 0, 0.7); /* Add a semi-transparent background overlay */
    padding: 100px 0;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .featured-books,
  .popular-authors,
  .newsletter {
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background to sections */
    padding: 20px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .featured-books h2,
  .popular-authors h2,
  .newsletter h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }
  
  
  